* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: auto;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#card11 {
  position: absolute;
  width: 200px;
  height: 160px;
  left: 71px;
  top: 30px;

  background: linear-gradient(73.07deg, #2A2E6B 0%, #313788 100%);
  border-radius: 14px;
}

#card22 {
  position: absolute;
  width: 200px;
  height: 160px;
  left: 277px;
  top: 30px;

  background: linear-gradient(73.07deg, #D317C1 0%, #BD89FF 100%);
  border-radius: 14px;
}

#card33 {
  position: absolute;
  width: 200px;
  height: 160px;
  left: 484px;
  top: 30px;
  background: linear-gradient(73.07deg, #EB7100 0%, #BF360A 100%);
  border-radius: 14px;
}

#card44 {
  position: absolute;
  width: 200px;
  height: 160px;
  left: 691px;
  top: 30px;

  background: linear-gradient(73.07deg, #80A872 0%, #19845D 100%);
  border-radius: 14px;
}

#text {
  position: absolute;
  width: 183px;
  height: 33px;
  left: 84px;
  top: 0px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #1A1A1A;
}

#map {
  position: absolute;
  width: 820px;
  height: 340px;
  left: 71px;
  top: 200px;
  background: url("../../../assets/map.png");
}

#right {
  position: absolute;
  width: 355px;
  height: 510px;
  left: 900px;
  top: 30px;

  background: #77ff00;
  box-shadow: -1px 0px 0px #003cff;
}

#text1{
  font-size: 50px;
  text-align: left;
  color: white;
}
#pt1{
  left: 60px;
  top: 100px;
}