.left {
    color: bisque;
    height: auto;
    width: 50%;
}

.right {
    color: beige;
    height: auto;
    width: 50%;
}

#us {
    margin-left: 70px;
    margin-top: 5px;
}

#btn {
    margin-left: 200px;
    margin-top: 5px;
}

#imgptt {
    position: absolute;
    width: 69px;
    height: 31px;
    left: 16px;
    top: 7px;
    background: url("../../assets/ptt.png");
}

#imgngr {
    position: absolute;
    width: 40px;
    height: 27px;
    left: 94px;
    top: 20px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #00AEEF;
    background: no-repeat url("../../assets/NGR.png");
}

#imgcc {
    position: absolute;
    width: 23px;
    height: 27px;
    left: 137px;
    top: 20px;

    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #9EACC2;
    background: no-repeat url("../../assets/CC.png");
}