<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <p-menubar [style]=" {'background-color' : '#00214E'}">
        <div id="div5">AtlasX
        </div>
        <div id="div6" style="font-size: 18px; color: white;">User Management & Dashboard</div>
        <div style="margin-right: 200px;" id="div7">
            <input [style]=" {'height':'3rem' ,'font-size':'15px','width':'400px','margin-right': '5px'}" type="text"
                pInputText placeholder="ค้นหาจากชื่อ">
            <p-button [style]=" {  'width':'40px','height':'3rem' }" icon="pi pi-search"></p-button>
        </div>
    </p-menubar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
                <div class="menu">
                    <div class="vertical-menu">
                        <img src="../../../assets/Vector1.png" (click)="findpage(1)" style="margin-left: 20px;">
                        <img src="../../../assets/Vector.png" (click)="findpage(2)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/Vector3.png" (click)="findpage(1)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/Vector4.png" (click)="findpage(1)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/Vector5.png" (click)="findpage(1)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/Vector6.png" (click)="findpage(6)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/Vector7.png" (click)="findpage(1)"
                            style="margin-left: 20px;margin-top: 25px;">
                        <img src="../../../assets/vecter8.svg" (click)="findpage(1)"
                            style="margin-left: 20px;margin-top: 25px;">
                    </div>
                </div>
                <div *ngIf="checkpage==1||checkpage==0">
                    <app-dashboard></app-dashboard>
                </div>
                <div *ngIf="checkpage==6">
                    <app-usermanagement></app-usermanagement>
                </div>
            </div>
            <div class="col-sm-10" style="background-color:lavenderblush;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-9" style="background-color:lavender;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>