.column {
    float: left;
    padding: 100px;
    height: auto;
    margin-top: 0px;
}

.left {
    width:70%;
}

.right {
    width: 30%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#card1,
#card2,
#card3,
#card4 {
    float: left;
    margin-left: 5px;
}

#card2 {
    float: left;

}

p {
    color: white;
}

b {
    float: left;
}
body{
    margin: 0 auto;
    padding:0;
}
#bo{
    margin-left: 70px;
    margin-top: 0px;
}