<!-- <h2>This is your portal/home/landing page.</h2>
<ul>
  <li *ngFor="let system of configService.systems">
    <a [routerLink]="[system.SYSTEM_URL]">{{ system.SYSTEM_NAME }}</a>
  </li>
</ul>

<button *ngIf="!authService.isAuthenticated()" (click)="authService.signIn()">Sign In</button>
<button *ngIf="authService.isAuthenticated()" (click)="authService.signOut()">Sign Out</button>
<br> -->
<!-- <button routerLink="/loginpage">Login</button><br>
<button routerLink="/usermanagement">Usermanagement</button><br>
<button routerLink="/dashboard">Dashboard</button><br>
<button routerLink="/menu">menu</button><br> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <p-menubar [style]=" {'background-color' : '#00214E'}">
        <div id="div5" style="font-size: 30px; color: white; font-weight: bolder;">AtlasX</div>
        <div id="div6" style="font-size: 18px; color: white;">User Management & Dashboard</div>
        <div style="margin-right: 200px;" id="div7">
            <input [style]=" {'height':'3rem' ,'font-size':'15px','width':'400px','margin-right': '5px'}" type="text"
                pInputText placeholder="ค้นหาจากชื่อ">
            <p-button [style]=" {  'width':'40px','height':'3rem' }" icon="pi pi-search"></p-button>
        </div>
    </p-menubar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
                <div class="menu">
                    <div class="vertical-menu">
                        <a href="/loginpage"><i id="dash" class="pi pi-exclamation-triangle"
                                style="font-size: 2rem"></i></a>
                        <a href="/dashboard"><i class="pi pi-chart-bar" style="font-size: 2rem"></i></a>
                        <a href="/usermanagement"><i class="pi pi-send" style="font-size: 2rem"></i></a>
                        <a href="#"><i class="pi pi-sliders-h" style="font-size: 2rem"></i></a>
                        <a href="#"><i class="pi pi-envelope" style="font-size: 2rem"></i></a>
                        <a href="usermanagement/usermanagement.component.ts"><i class="pi pi-user" style="font-size: 2rem"></i></a>
                        <a href="#"><i class="pi pi-link" style="font-size: 2rem"></i></a>
                        <a href="#"><i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10" style="background-color:lavenderblush;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-9" style="background-color:lavender;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html> -->

<div class="div1">
    <div class="gis"></div>
    <div class="line"></div>
    <div class="text1">AtlasX</div>
</div>
<div class="bg">
    <div class="login">
        <div class="textLogin">เข้าสู่ระบบ</div>
        <div class="inputUser"><input type="text" pInputText placeholder="ชื่อผู้ใช้งาน"
                style="width: 300px; background: #F7F7F7;" /></div>
        <div class="inputPassword"><input type="password" pPassword placeholder="รหัสผ่าน"
                style="width: 300px; background: #F7F7F7;" />
            <div class="btnLogin"><a href="menu"><button pButton type="button" label="เข้าสู่ระบบ"
                        style="width: 300px;"></button></a></div>
        </div>
    </div>
</div>
<div class="bg1">
    <div class="text2">AtlasX</div>
    <div class="line2"></div>
    <div class="text3">เลขที่ 202 อาคาร ซีดีจี เฮ้าส์</div>
    <div class="text4">ถนนนางลิ้นจี่ แขวงช่องนนทรี
        เขตยานนาวา กรุงเทพมหานคร 10120
    </div>

    <div class="line3"></div>
    <div class="text5">โทรศัพท์ 02 678 0707</div>

    <div class="text6">โทรสาร
        02 678 0328</div>

    <div class="text7">อีเมล
        gis.contact@cdg.co.th

    </div>
</div>